sphinx>=1.4
sphinx_rtd_theme
sphinx-hoverxref
sphinx-express
ipykernel
nbsphinx
sphinx-autodoc-typehints
sphinxext-opengraph
nbsphinx-link
sphinx_book_theme
sphinx_copybutton
sphinx_design
scanpydoc>=0.4.5
sphinx-autoapi
numpy==2.0.0